# Ignorer tous les fichiers uploadés sauf ce fichier et les sous-dossiers trackés
*
!.gitignore
!editor/
!editor/.gitignore
!avatars/
!avatars/.gitignore
!formation-logos/
!formation-logos/.gitignore
